body {
    background: url(../img/azul.jpg) no-repeat center center fixed;
    background-size: cover;
    /* background-color: black;*/
    font-family: "Sofia", sans-serif;
}

header {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 5px;
    /*border: 5px solid orange;*/
    background: url(../img/azul.jpg) no-repeat center center fixed;
    background-size: cover ;
    font-size: 30px;
    position: fixed;
    width: 1500px;
    margin: 0px;
    padding-left: 3.5em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
}

.uno {  width: 100%;}
section { width: 85.5em; margin: auto;  }

article { padding-top: 11em; 
          }

h1 {
    text-align: center;
    color: black;
    text-shadow: 2px -5px 7px #050505;
    font-family: 'Unna', serif;
    font-size: 40px;
    letter-spacing: 1px;
    border-left-style: solid;
}

b {
    color: lightgreen;
    font-size: 17px;
}

#uno {
    color: black;
}

.dos {
    border: 10px ridge grey;
}

.unico, th {
    /*border: 2px solid black;*/
    /*border-radius: 40px;*/
    padding: 5px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-left: 0%;
    font-size: 18px;
    text-align: right;
    background-color: blue;
    color: black;
  /*text-decoration: underline;*/
}

a {
    color: white;
    display: inline-block;
    background-color: black;
    box-sizing: content-box;
    font-size: 15px;
    margin: 2px;
    border-radius: 4px;
    border: 8px outset grey;
    text-decoration: none;
}

a:hover {
    color: yellow;
    transition: .5s;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 1200px;
   /* border-collapse: collapse;
    /*border: 3px solid black;*/
   }

th {
    padding: 0px;
    width: 50%;
    font-size:18px;
    text-align: center;
    color: white;
    }

td {
    border: 3px solid blue;
    padding-left: 5px;
    width: 10px;
    font-size: 16px;
    text-align: center;
    color: white;
    border: 5px ridge black;
}

tr:nth-child(even) {
    background-color: black;
    /* color #f2f2f2 forma un cuaderno*/
}

tr {
    background-color: black;
    /* color #318aac forma un cuaderno*/
}

button {
    margin: 0px;
    font-family: "Sofia", sans-serif;
}

.boton {
    color: lightgreen;
    font-size: 7px;
    /*  font-weight: 500; */
    padding: 0.5em 1.2em;
    background: rgba(21, 74, 248, 0);
    position: relative;
    border: 0px solid #318aac;
    outline: 3px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
}

.boton:hover {
    background: blue;
    color: white;
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    border: 2px;
    transform: rotate(-7deg);
}

div {
    background-color: lightblue;
    width: 200px;
    border: 10px solid brown;
    padding: 1px;
    margin: 2px;
    text-align: justify;
}