@import url('../css/googleApis.css');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

nav.ini, .ini1, .ini2, .ini3, .ini4 {
     display: inline-block;
}

nav.ini5, .ini6, .ini7, .ini8 {
    display: inline-block;
}

nav.ini9 {
    display: inline-block;
}

body {
    min-width: 90vmin;
    background: url(../img/venezuela9.jpg) no-repeat center center fixed;
    background-size: cover;
}

button {
    margin: 10px;
    font-family: "Sofia", sans-serif;
}

.boton {
    background-color: transparent;
    color: white;
    margin: 1em;
    transition: .5s;
    font-size: 14px;
    box-sizing: content-box;
    border-radius: 5%;
    width: 152px;
    height: 90px;
    border: 4px outset cyan;
}


.boton:hover {
    /*text-shadow: 5 2 4px;*/
    color: cyan;
   /* padding: 0.5em 0.7em;*/
    background-color: transparent;
    box-sizing: content-box;
    font-size: 14px;
    margin: 1em;
    border-radius: 50%;
    width: 152px;
    height: 90px;
    border: 4px inset lightgrey;
   /* transform: rotate(-12deg);*/
    font-family: "Sofia", sans-serif;
}


h1 {
    font-family: 'Unna';
    color: white;
}

.sombra {
    color: cyan;
    text-shadow: -10px -8px 5px #050505;
    font-size: 25px;
    font-family: 'Unna', serif;
    text-align: center;
}
.sombra1 {
    color: lightseagreen;
    text-shadow: -12px -10px 5px #050505;
    font-size: 25px;
    font-family: 'Unna', serif;
    text-align: center;
}

.sombra2 {
    color: cyan;
    text-shadow: -5px -4px 5px #050505;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.sombra2 img {
    width: 25px;
    height: 25px;
}
