   body {
        background: url(../img/newcantv4.jpg) no-repeat center fixed;
        background-size: cover;
        font-family: verdana;
        color: black;
   }

   h1 {
    text-align: center;
   }

   a {
       color: grey;
       display: inline-block;
       background-color: black;
       box-sizing: content-box;
       font-size: 15px;
       margin: 2px;
       border-radius: 4px;
       border: 8px outset grey;
       text-decoration: none;
   }

   a:hover {
    color: white;
   }

   p {
    font-size: 18px;
   }

   .primero {
    color: blue;
    text-align: center;
    text-shadow: 2px -5px 7px #050505;
    font-size: 45px;
    font-family: 'Unna', serif;

   }

img {
    padding: 2px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 4px ridge grey;
    width: 800px;
    height: 350px;
}

.segundo {            /* imagen flecha */
    width: 40px;
    height: 50px;
    position: fixed;
    bottom: 2px;
    right: 2%;
}

.tercero {
    float: right;
    width: 50px;
    height: 50px;
}

.dos {
    width: 40px;
    height: 50px;
    position: fixed;
    bottom: 2px;
    right: 2%;
}

table {
    border: 3px solid black;
    width: 100%;
    padding: 1px;
    table-layout: auto;
    border: 10px ridge black;
    border-radius: 10px;
}

th {
    border: 2px solid black;
    text-align: center;
    background-color: #f1f1c1;
    color: black;
    padding: 5px
}

td {
    border: 3px solid blue;
    text-align: left;
    background-color: black;
    color: white;
    padding: 5px
}

pre {
    font-size: 18px;
}

div {
    background-color: lightblue;
    width: 600px;
    border: 10px solid burlywood;
    padding: 1px;
    margin: 2px;
    text-align: justify;
}

.ex1 {
     direction: rtl;
     width: 550px
 }

 .ex2 {
     direction: rtl;
     width: 960px
 }