body { background: url(../../Linux-ayudas/img/Linux1.jpg) no-repeat center center fixed;
 	background-size: cover; font-family: "Sofia", sans-serif;
 	}

h1,h2 { color:white; text-align: center;}
button {  margin: 0px; font-family: "Sofia", sans-serif;}

.boton {
	color:lightgreen;
  	font-size: 7px;
/*  font-weight: 500; */
  	padding: 0.5em 1.2em;
  	background: rgba(21, 74, 248, 0);
  	position: relative;
  	border: 0px solid #318aac;
  	outline: 3px solid;
  	outline-color: rgba(49, 138, 172, 0.4);
 	transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
 }
	
.boton:hover{
	background:blue;color:white;
	box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  	outline-color: rgba(49, 138, 172, 0);
  	outline-offset: 80px;
 	text-shadow: 1px 1px 6px #fff;
  	border: 2px;transform: rotate(-7deg);}	

