   body {
      /*background-image: url(../img/bloques.jpg);
       background-repeat: repeat;
       background-position: top;
       background-attachment: scroll;*/
       background-color: lightblue;
       font-family: verdana;
       /*color: black;*/
   }



  a.uno {
       color: white;
       display: inline-block;
       background-color: black;
       box-sizing: content-box;
       font-size: 15px;
       margin: 2px;
       border-radius: 4px;
       border: 8px outset grey;
       text-decoration: none;
   }

    .sombra1 {
              color: #C2BFBF;
              text-shadow: 2px -4px 4px #050505;
              font-size: 45px;
              font-family: 'Unna', serif;
          }
   button {
       color: white;
       text-align: center;
       display: inline-block;
       background-color: black;
       box-sizing: content-box;
       font-size: 18px;
       margin: 5px;
       border-radius: 5px;
       border: 8px outset grey;
       text-decoration: none;
   }

   button:hover a {
       color: white;
       text-decoration: none;
   }

   span {
       color: blue;
       font-size: 14px;
       text-decoration: none ;
   }

   /*  ul.menuVert1 { list-style: none; text-align: left; text-shadow: 2px 2px 2px 4px red; padding: 0px ; }*/


   ul.menuVert1 li {
       list-style: none;
       text-align: left;
       width: 100%;
       padding: 2px 5px 7px;
       border: 2px groove black;
       border-width: 2px 5px 7px;
       color: grey;
       background-color: transparent;
       font-size: 12px;
       float: left;
   }

   ul.menuVert1 li a:link,
   ul.menuVert1 li a:visited {
       text-decoration: none;
       color: grey;
   }

   ul.menuVert1 li a:hover {
       background-color: yellow;
       color: blue;
       transition: .5s;
   }

   ul.menuVert2 li {
       list-style: none;
       text-align: left;
       width: 16%;
       padding: 2px 2px 4px;
       border: 8px groove black;
       border-width: 6px 10px 14px;
       background-color: transparent;
       color: black;
       font-size: 15px;
       float: left;
   }

   ul.menuVert2 li a:link,
   ul.menuVert2 li a:visited {
       text-decoration: none;
       color: black;
   }

   ul.menuVert2 li a:hover {
       background-color: blue;
       color: white;
       transition: .5s;
   }

   ul.menuVert3 li {
       list-style: none;
       text-align: left;
       width: 16%;
       padding: 2px 2px 4px;
       border: 8px groove black;
       border-width: 6px 10px 14px;
       background-color: transparent;
       font-size: 15px;
       float: left;
   }

   ul.menuVert3 li a:link,
   ul.menuVert3 li a:visited {
       text-decoration: none;
       color: black;
   }

   ul.menuVert3 li a:hover {
       background-color: red;
       color: antiquewhite;
       transition: .5s;
   }

   .limpiador {
       padding: 0;
       border-style: none;
       clear: both;
   }


   /* p.dashed {outline-style: dashed;} */

   address {
       margin-top: 1em;
       padding-top: 1em;
       border-top: thin dotted
   }

   /*background-color: #d8da3d } fondo amarillo verdoso */