@import url('../css/googleApis.css');

*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
}

body {
  min-height: 100vh;
  background: url(../img/castillo_guayana1.jpg) no-repeat center center fixed;
  background-size: cover;
  }

h3 { color: white;}

.sidebar {
position: fixed;
height: 100%;
left: -250px;
width: 250px;
bottom: 1px;
background: #023693;
transition: all .5s ease;
}

.sidebar header {
font-size: 10px;
line-height: 1px;
text-align: center;
background: #023693;
user-select: none;
}

.sidebar ul a {
display: block;
height: 100%;
width: 100%;
line-height: 65px;
font-size: 20px;
color: white;
padding-left: 40px;
box-sizing: border-box;
border-bottom: 5px solid black;
border-top: 5px solid rgba(255,255,255,.1);
transition: .4s;
text-decoration: none;
}

ul li:hover a{
  padding-left: 50px;
}

.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{ /* icono menu*/
  position:absolute;
  background:transparent;
  border-radius: 6px;
  top: 0px;
  cursor: pointer;
}
label #btn{ /* icono menu*/
  left: 2px;
  top: -10px;
  font-size: 40px;
  background-color: transparent;
  color:black;
  padding: 0px 6px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: -14px;
  font-size: 25px;
  color: lightgreen;
  padding: 4px 8px;
  transition: all .8s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{ /*icono interno del home*/
  left: 210px;
}
#check:checked ~ section{
  margin-left: 250px;
}

.sombra1 img{width: 50px; height: 50px;
  color: black;
  /*text-shadow: -5px -4px 5px #050505;*/
  font-size: 28px;
  font-family:'Unna', serif;}

.unico { font-size: 25px; color: black;}

.segundo { font-size: 20px; color: lightgreen;}
.segundo:hover { color: white;}

#capi1 { font-size: 20px; color: aqua;}
#capi1:hover {color:yellow}

#capi2 { font-size: 20px; color: black;}
#capi2:hover {color:white}

span { font-size:21px; color: black;}


.navbar {
    background-color: transparent !important;
    padding: 7px 0px; 
}

.navbar-nav li:hover>ul.dropdown-menu{ /*menu desplegable cabecera*/
    display: block; background-color: lightseagreen;
}    

.dropdown-submenu{
    position: relative;
}

.dropdown-submenu>.dropdown-menu{
    top:0;
    margin-top: -5px;
    left: 90%; 
}

.dropdown-menu>li>a:hover::after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

      div.nav-link li a:link,
      div.nav-link  a:visited {
            color: red;
            background-color: white;
        }
    
        div.navbar-collapse a:hover {
            background-color: red;
            color: white;
            transition: .5s;
        }
    
    
        ul.navbar-nav li a:link,
        ul.navbar-nav li a:visited {
            text-decoration: none;
            color: white;
            background-color: transparent;/* icono menu*/
        }
    
  
       
                .icons-social-networks>a:hover {
                    filter: opacity(0.5);
                }
                .bg-linux {
                    background-color: #023693;
                }
                .venezuela, .mercantil {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
 
                .navbar .nav-item li {
                    color: chocolate
                }

                .sombra {
                  color: lightseagreen;
                  text-shadow: -10px -8px 5px #050505;
                  font-size: 35px;
                  font-family: 'Unna', serif;
              }
        
                .sombra1 {
                    color: black;
                    /*text-shadow: -5px -4px 5px #050505;*/
                    font-size: 28px;
                    font-family:'Unna', serif;
                }

                iframe { 
                  background-color: transparent;
                  height:150px;
                  width: 250px;
                  color:#023693;
                   }
                
