body { 
  background-color: lightskyblue;
  font-family: "Sofia", sans-serif;
  margin: 0%;
  padding: 0%;
}

a {
  color: lightblue;
  display: inline-block;
  background-color: black;
  box-sizing: content-box;
  font-size: 15px;
  margin: 4px;
  border-radius: 4px;
  border: 5px outset black;
  text-decoration:none;
}

a:hover {
  color: yellow;
  transition: .5s;
  text-decoration: none;
}

h3 { color: white;}

.sidebar {
position: fixed;
height: 100%;
left: -250px;
width: 250px;
bottom: 1px;
background: #023693;
transition: all .5s ease;
}

.sidebar header {
font-size: 20px;
line-height: 1px;
text-align: center;
background: #023693;
user-select: none;
}

.sidebar ul a {
display: block;
height: 80%;
width: 80%;
line-height: 60px;
font-size: 20px;
color: white;
padding-left: 30px;
box-sizing:initial;
border-bottom: 5px solid black;
border-top: 5px solid rgba(255,255,255,.1);
transition: .5s;
text-decoration: none;
}

.menuVert2 ul li{
    text-decoration: none;
}

ul li:hover a{
padding-left: 5px;
}

.sidebar ul a i{
margin-right: 14px;
}
#check{
display: none;
}
label #btn,label #cancel{ /* icono menu*/
position:absolute;
background:transparent;
border-radius: 3px;
top: 0px;
cursor: pointer;
}
label #btn{ /* icono menu*/
left: 5px;
top: -10px;
font-size: 30px;
background-color: black;
color:white;
padding: 2px 2px;
transition: all .5s;
}
label #cancel{
z-index: 1111;
left: -195px;
top: -14px;
font-size: 25px;
color: lightgreen;
padding: 4px 8px;
transition: all .8s ease;
}

#cancal:hover{color: white;}
#check:checked ~ .sidebar{
left: 0;
}
#check:checked ~ label #btn{
left: 250px;
opacity: 0;
pointer-events: none;
}
#check:checked ~ label #cancel{ /*icono intern0 del home*/
left: 210px;
}
#check:checked ~ section{
margin-left: 250px;
}

.unico { font-size: 21px; color: lightblue;}

.unico1 { font-size: 21px; color:white;}

.segundo { font-size: 20px; color: lightgreen;}
.segundo:hover { color: white;}

#capi1{ font-size: 20px; color: cyan;}
#capi1:hover{ color: yellow;}

span { font-size:18px; color: whitesmoke;}


.navbar {
background-color: transparent !important;
padding: 7px 0px; 
}

.navbar-nav li:hover>ul.dropdown-menu{ /*menu desplegable cabecera*/
display: block; background-color: lightseagreen;
}    

.dropdown-submenu{
position: relative;
}

.dropdown-submenu>.dropdown-menu{
top:0;
margin-top: -5px;
left: 90%; 
}

.dropdown-menu>li>a:hover::after {
text-decoration: underline;
transform: rotate(-90deg);
}

  div.nav-link li a:link,
  div.nav-link  a:visited {
        color: red;
        background-color: white;
    }

    div.navbar-collapse a:hover {
        background-color: red;
        color: white;
        transition: .5s;
    }


    ul.navbar-nav li a:link,
    ul.navbar-nav li a:visited {
        text-decoration: none;
        color: white;
        background-color: transparent;/* icono menu*/
    }


   
            .icons-social-networks>a:hover {
                filter: opacity(0.5);
            }
            .bg-linux {
                background-color: #023693;
            }
            .venezuela, .mercantil {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            .navbar .nav-item li {
                color: chocolate
            }

            .sombra {
              color: lightseagreen;
              text-shadow: -10px -8px 5px #050505;
              font-size: 35px;
              font-family: 'Unna', serif;
              text-align: center ;
          }
    
            .sombra1 {
                color: lightseagreen;
                text-shadow: -12px -10px 5px #050505;
                font-size: 30px;
                font-family: 'Unna', serif;
            }

            .sombra2 {
              color: black;
              text-shadow: -5px -4px 5px #050505;
              font-size: 35px;
              font-family: 'Unna', serif;
              text-align: center ;
          }

            iframe { 
              background-color: transparent;
              height:150px;
              width: 250px;
              color:#023693;
               }
      
               table {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
               /* border-collapse: collapse;
                border: 2px solid black; */
                width: 100%;
                border: 12px ridge;
                border-radius: 12px;
            }
        
        th {
            border: 2px solid black;
            padding: 8px;
            font-size: 18px;
            text-align: left;
            color: whitesmoke;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
           /*text-decoration: underline;*/
        }
                    
        td {
            border: 3px solid blue;
            padding: 8px; font-size: 16px;
            text-align: left; color: darkblue;
        }
        
        tr {
            background-color: #318aac; text-align: center;
        }
                    
        tr:nth-child(even) {
                background-color: black; 
            }
            
