body {
    background-color: blue;
}

b 
{ 
    color: blanchedalmond;
}

a {
    color: grey;
    display: inline-block;
    background-color: black;
    box-sizing: content-box;
    font-size: 15px;
    margin: 2px;
    border-radius: 4px;
    border: 8px outset grey;
    text-decoration: none;
}

a:hover {
    color: #fff;
    transition: .5s;
}

input[type=radio] {
    *display: none;
}

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
    background-color: blue;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 10s infinite;
    background-color: blue;
}

.slider li {
    width: 100%;
    list-style: none;
    background-color: blue;
}

.slider img {
    width: 95%;
    background-color: blue;

}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -200%;}
    100% { margin-left: -200%;}
}