  body { 
     background-image: url(../img/bloques.jpg);
     background-repeat: repeat;   
     /*background-color: lightblue;*/
     font-family: verdana;
     color: black;}

     b {
      color: #050505;
      text-decoration: none;
     }

     #para1 {color: black;}

    button {
      color: white;
      text-align: center;
      display: inline-block;
      background-color: black;
      box-sizing: content-box;
      font-size: 18px;
      margin: 5px;
      border-radius: 5px;
      border: 8px outset grey;
    }
  
    button:hover a {
      color: white;
      text-decoration: none;
    }
  
    span {
      color: blue;
      font-size: 22px;
    }
     
     .colortext {
    color: blue;
    }

     ul   {display:none;}


        ul.menuVert1 { list-style: none; text-align: left; text-shadow: 2px 2px 2px 4px red; padding: 0px ; }

        ul.menuVert1 li {width: 23%; padding: 2px 2px 4px; border: 8px groove blue;  
                        border-width: 2px 2px 2px ; background-color: #00FFFF; float:left;}
        ul.menuVert1 li a:link, ul.menuVert1 li a:visited { text-decoration: none; color:black;}  
        ul.menuVert1 li:hover {background-color: yellow;}


        ul.menuVert2 { list-style: none; text-align: left; text-shadow: 2px 2px 2px 4px red; padding: 0px;}

        ul.menuVert2 li{width:23%; padding: 2px 2x 4px; border: 8px groove blue;
                        border-width: 2px 2px 2px ; background-color: #00FFFF; float: left;}
        ul.menuVert2 li a:link, ul.menuVert2 li a:visited{ text-decoration: none; color:black;}
        ul.menuVert2 li:hover{background-color: #4169E1;} 

        ul.menuVert3 { list-style: none; text-align: left; text-shadow: 2px 2px 2px 4px red; padding: 0px;}

        ul.menuVert3 li {width: 23%; padding: 2px 2px 4px; border: 8px groove blue;  
                        border-width: 2px 2px 2px ; background-color: #00FFFF; float:left;}
        ul.menuVert3 li a:link, ul.menuVert3 li a:visited{ text-decoration: none; color:black;}  
        ul.menuVert3 li:hover {background-color: red;}

        .limpiador {padding:0; border-style:none; clear:both; }

    h1, h2, h3, h4, h5, li { font-family: verdana; background-color: none; color: black; }
   
    table { border: 3px solid black; width: 100%; padding: 5px; table-layout: auto; }

    th { border: 2px solid black;text-align: center; background-color: #f1f1c1; color: black; padding: 5px}

    td { border: 3px solid blue;text-align: left; background-color: black; color: white; padding: 5px}

    table {border-spacing: 15px; padding: 5px; table-layout: auto;}

    div { background-color: lightgrey; width: 400px; border: 10px solid green; padding: 1px; margin:2px; text-align: justify;}

    div.ex1 { direction: rtl; width: 1200px }
  
    .sombra1 {
    color: #C2BFBF;
    text-shadow: 2px -4px 4px #050505;
    font-size: 45px;
    font-family: 'Unna', serif;
    }
    
    a { font-family: verdana; color: solid blue; 
          text-decoration: none;
       }
        
    pre, p { font-family: verdana;color: solid blue; 
          background-color: none;
       }

    p.small {line-height: 0.7;}

    p.big {line-height: 1.8;}


      /* p.dashed {outline-style: dashed;} */
        
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
  /* background-color: #d8da3d } fondo amarillo verdoso -->

        /* Reloj Digital -->
        <!--<b style="float:left;width:180px;height:100px;">Hora:<script type="text/javascript">-->
       <!-- function startTime(){
            today=new Date();
            h=today.getHours();
            s=today.getSeconds();
            m=checkTime(m);
            s=checkTime(s);
            document.getElementById('reloj').innerHTML=h+":"+m+":"+s";
            t=setTimeout('startTime()',500);}
            function checkTime(i)
            {if (i<10) {i="0" + i;}return i;}
            window.onload=function(){startTime();}*/
